/* Bare */
.scene.bare .road,
.info .bare {
  background-color: #5A6167;  
}

/* Deciduous */
.scene.deciduous .road,
.info .deciduous {
  background-color: #274001;  
}

/* Desert */
.scene.desert .road,
.info .desert {
  background-color: #A38F53;  
}

/* Grassland */
.scene.grassland .road,
.info .grassland {
  background-color: #669966;  
}

/* Marsh */
.scene.marsh .road,
.info .marsh {
  background-color: #4C6E50;  
}

/* Savanna */
.scene.savanna .road,
.info .savanna {
  background-color: #706A2F;  
}

/* Scorched */
.scene.scorched .road,
.info .scorched {
  background-color: #593622;  
}

/* Shrub */
.scene.shrub .road,
.info .shrub {
  background-color: #5E601F;  
}

/* Snow */
.scene.snow .road,
.info .snow {
  background-color: #C8DAFF;  
}

/* Taiga */
.scene.taiga .road,
.info .taiga {
  background-color: #00261C;  
}

/* Temperate */
.scene.temperate .road,
.info .temperate {
  background-color: #3A400E;  
}

/* Tropical */
.scene.tropical .road,
.info .tropical {
  background-color: #47BD4A;  
}

/* Tundra */
.scene.tundra .road,
.info .tundra {
  background-color: #594A1B;  
}

/* Water */
.scene.water .road,
.info .water {
  background-color: #325B7F;  
}

