/**
 * Width and Height
 */
.w1 { width: 100px; }
.w2 { width: 200px; }
.w3 { width: 300px; }
.w4 { width: 400px; }
.w5 { width: 500px; }
.w6 { width: 600px; }
.w7 { width: 700px; }
.w8 { width: 800px; }
.w9 { width: 900px; }
.w10 { width: 1000px; }
.w11 { width: 1100px; }
.w12 { width: 1200px; }
.w13 { width: 1300px; }
.w14 { width: 1400px; }
.w15 { width: 1500px; }

.h1 { height: 100px; }
.h2 { height: 200px; }
.h3 { height: 300px; }
.h4 { height: 400px; }
.h5 { height: 500px; }
.h6 { height: 600px; }
.h7 { height: 700px; }
.h8 { height: 800px; }
.h9 { height: 900px; }
.h10 { height: 1000px; }
.h11 { height: 1100px; }
.h12 { height: 1200px; }
.h13 { height: 1300px; }
.h14 { height: 1400px; }
.h15 { height: 1500px; }

/**
 * General Placement
 */
.T { top: 0; }
.B { bottom: 0; }
.L { left: 0; }
.R { right: 0; }


/**
 * House base
 */
.house {
  position: absolute;
  bottom: 0;
}

/**
 * Storey
 */
.house .storey {
  position: relative;
  margin: 0;
}
.house .storey-wrapper.P1  > .storey-wrapper { margin-left: 100px; }
.house .storey-wrapper.P2  > .storey-wrapper { margin-left: 200px; }
.house .storey-wrapper.P3  > .storey-wrapper { margin-left: 300px; }
.house .storey-wrapper.P4  > .storey-wrapper { margin-left: 400px; }
.house .storey-wrapper.P5  > .storey-wrapper { margin-left: 500px; }
.house .storey-wrapper.P6  > .storey-wrapper { margin-left: 600px; }
.house .storey-wrapper.P7  > .storey-wrapper { margin-left: 700px; }
.house .storey-wrapper.P8  > .storey-wrapper { margin-left: 800px; }
.house .storey-wrapper.P9  > .storey-wrapper { margin-left: 900px; }
.house .storey-wrapper.P10 > .storey-wrapper { margin-left: 1000px; }

/**
 * Section
 */
.house .storey .section {
  position: relative;
  float: left;
  height: 100%;
}

/* Roof */
.house .storey .roof-center {
  background: transparent url('/images/scales.png') repeat;
}
.house .storey .roof-end { position: relative; }
.house .storey .roof-crop { position: absolute; width: 100%; height: 100%; }

.house .storey .roof-end.roof-left.w1 .roof-crop { clip: rect(-20px, 100px, 100px, -120px); }
.house .storey .roof-end.roof-left.w2 .roof-crop { clip: rect(-20px, 200px, 200px, -220px); }
.house .storey .roof-end.roof-left.w3 .roof-crop { clip: rect(-20px, 300px, 300px, -320px); }
.house .storey .roof-end.roof-left.w4 .roof-crop { clip: rect(-20px, 400px, 400px, -420px); }
.house .storey .roof-end.roof-left.w5 .roof-crop { clip: rect(-20px, 500px, 500px, -520px); }
.house .storey .roof-end.roof-left.w6 .roof-crop { clip: rect(-20px, 600px, 600px, -620px); }
.house .storey .roof-end.roof-left.w7 .roof-crop { clip: rect(-20px, 700px, 700px, -720px); }
.house .storey .roof-end.roof-left.w8 .roof-crop { clip: rect(-20px, 800px, 800px, -820px); }
.house .storey .roof-end.roof-left.w9 .roof-crop { clip: rect(-20px, 900px, 900px, -920px); }
.house .storey .roof-end.roof-left.w10 .roof-crop { clip: rect(-20px, 1000px, 1000px, -1020px); }

.house .storey .roof-end.roof-right.w1 .roof-crop { clip: rect(-20px, 120px, 100px, 0px); }
.house .storey .roof-end.roof-right.w2 .roof-crop { clip: rect(-20px, 220px, 200px, 0px); }
.house .storey .roof-end.roof-right.w3 .roof-crop { clip: rect(-20px, 320px, 300px, 0px); }
.house .storey .roof-end.roof-right.w4 .roof-crop { clip: rect(-20px, 420px, 400px, 0px); }
.house .storey .roof-end.roof-right.w5 .roof-crop { clip: rect(-20px, 520px, 500px, 0px); }
.house .storey .roof-end.roof-right.w6 .roof-crop { clip: rect(-20px, 620px, 600px, 0px); }
.house .storey .roof-end.roof-right.w7 .roof-crop { clip: rect(-20px, 720px, 700px, 0px); }
.house .storey .roof-end.roof-right.w8 .roof-crop { clip: rect(-20px, 820px, 800px, 0px); }
.house .storey .roof-end.roof-right.w9 .roof-crop  { clip: rect(-20px, 920px, 900px, 0px); }
.house .storey .roof-end.roof-right.w10 .roof-crop { clip: rect(-20px, 1020px, 1000px, 0px); }

.house .storey .roof-end .roof-left,
.house .storey .roof-end .roof-right {
  position: relative;
  width: 140%;
  height: 140%;
  overflow: hidden;
}
.house .storey .roof-end .roof-left {
  -webkit-transform: translate(20%, 20%) rotate(-45deg);
}
.house .storey .roof-end .roof-right {
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
}

.house .storey .roof-end .roof-left:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: transparent url('/images/scales.png') repeat;
}
.house .storey .roof-end .roof-right:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: transparent url('/images/scales.png') repeat;
}
.house .storey .roof-end .roof-left:before {
  top: -50%;
  left: -50%;
  -webkit-transform: rotate(45deg);
}
.house .storey .roof-end .roof-right:before {
  top: -50%;
  left: -50%;
  -webkit-transform: rotate(-45deg);
}


/**
 * Stile - Vertical frame piece
 *   left and right
 */
.house .stile {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #afa;
}

/**
 * Rail - Horizontal frame piece
 *   top and bottom
 */
.house .rail {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #aaf;
}

/**
 * Endcap - Frame corner pieces
 *   top left, top right, bottom left and bottom right
 */
.house .cap {
  position: absolute;
  width: 10px;
  height: 10px;
  
  background-color: #888;
}


/**
 * Features
 *   door, windows, balconies, etc.
 */
.house .feature.w10 { width: 200px; }
.house .feature.w9 { width: 180px; }
.house .feature.w8 { width: 160px; }
.house .feature.w7 { width: 140px; }
.house .feature.w6 { width: 120px; }
.house .feature.w5 { width: 100px; }
.house .feature.w4 { width: 80px; }
.house .feature.w3 { width: 60px; }
.house .feature.w2 { width: 40px; }
.house .feature.w1 { width: 20px; }

.house .feature.h10 { height: 200px; }
.house .feature.h9 { height: 180px; }
.house .feature.h8 { height: 160px; }
.house .feature.h7 { height: 140px; }
.house .feature.h6 { height: 120px; }
.house .feature.h5 { height: 100px; }
.house .feature.h4 { height: 80px; }
.house .feature.h3 { height: 60px; }
.house .feature.h2 { height: 40px; }
.house .feature.h1 { height: 20px; }

.house .feature {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.house .feature.C {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.house .feature.T { top: 20px; }
.house .feature.B { bottom: 20px; }
.house .feature.L { left: 20px; right: auto; }
.house .feature.R { right: 20px; left: auto; }


/**
 * Door
 */
.door.feature {
  bottom: 0;
  width: 40px;
  height: 70px;
}

/**
 * Windows
 */
.window.feature {
  width: 40px;
  height: 40px;
  bottom: 20px;
}
