body {
  background-color: #C9EFFF;
}

.scene {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 800px;
  width: 10000px;
  border: 1px dotted red;
}

  .scene .scenery {
    position: relative;
    width: 100%;
    height: 620px;
    border: 1px dashed purple;
  }

    .scene .scenery .structure {
      height: 100%;
      float: left;
      position: relative;
      margin-right: 40px;
    }

  .scene .road {
    position: relative;
    height: 160px;
    width: 100%;
    
    border: 1px dashed black;
  }

  .scene .curb {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #555;
  }

