.area .tree {
  position:absolute;
  left:100px;
  bottom:0;
  height: 200px;
  width: 50px;
  background-color: brown;
  text-align: center;
  z-index: 2;
}

  .area .tree .foliage {
    position:absolute;
    top: -50px;
    width: 100px;
    height: 150px;
    background-color: green;
    z-index:1;
    opacity: 1;
    background-color: transparent;
    background-repeat: repeat;
    background-image: url('http://us.cdn3.123rf.com/168nwm/nicemonkey/nicemonkey0910/nicemonkey091000010/5686041-seamless-repeating-pattern-background-with-red-and-beige-colours.jpg');
  }

  .area .tree .foliage.left {
    right:50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

    .area .tree .foliage.left:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: green;
      opacity: 0.8;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }


  .area .tree .foliage.right {
    left:50%;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

    .area .tree .foliage.right:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      background-color: green;
      opacity: 0.8;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
/*
.area .tree {
  position:absolute;
  left:100px;
  bottom:0;
  height: 200px;
  width: 50px;
  background-color: brown;
  text-align: center;
  z-index: 2;
}

  .area .tree .foliage {
    position:absolute;
    top: -50px;
    width: 100px;
    height: 150px;
    background-color: green;
    z-index:1;
    opacity: 0.8;
    background: transparent url('http://www.mattriddle.com/12stone/pattern/10pixel.gif') repeat;
  }

  .area .tree .foliage.left {
    right:50%;
  }

  .area .tree .foliage.right {
    left:50%;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }
*/
