<div class="section roof-end roof-right w{{width}}" data-width="{{width}}">
  <div class="roof-crop">
    <div class="roof-right">
      <div class="rail T"></div>
    </div>
  </div>
  <div class="stile L"></div><div class="rail B"></div>
  <div class="cap T L"></div><div class="cap B L"></div><div class="cap B R"></div>
</div>
