<div class="section roof-end roof-left w{{width}}" data-width="{{width}}">
  <div class="roof-crop">
    <div class="roof-left">
      <div class="rail T"></div>
    </div>
  </div>
  <div class="stile R"></div><div class="rail B"></div>
  <div class="cap T R"></div><div class="cap B L"></div><div class="cap B R"></div>
</div>
