<div class="window feature {{position}} {{#if width}}w{{width}}{{/if}} {{#if height}}h{{height}}{/if}}">
  <div class="panel"></div>
  
  <div class="stile R"></div><div class="stile L"></div><div class="rail T"></div><div class="rail B"></div>
  <div class="cap T L"></div><div class="cap T R"></div><div class="cap B L"></div><div class="cap B R"></div>
</div>

